.about {
  padding: 110px 0 60px;

  &__tag {
  }

  &__tag-icon {
    width: 27px;
    height: 18px;
  }

  &__title {
  }

  &__description {
  }

  &__list {
  }

  &__item {
  }

  &__item-icon {
  }

  &__item-title {
  }

  &__item-description {
  }
}
