.navigation {
  @media (max-width: 768px) {
    position: absolute;
    z-index: 20;
    top: 68px;
    right: 0;
    display: none;
    width: 320px;
    height: 100vh;
    background: $bg-color;
    padding: 40px;
    transition: opacity 2s ease-out;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__item:hover > &__submenu {
    display: flex;
  }

  &__link {
    outline: 1px solid transparent;
    outline-offset: 4px;
    border-radius: 4px;
    transition: color 0.2s ease;
  }

  &__link:hover {
    color: $primary-purple;
  }

  &__link:focus-visible {
    color: $primary-purple;
    outline-color: $primary-purple;
  }

  &__link:first-child {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__link:first-child svg {
    width: 10px;
    height: 6px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__submenu {
    position: absolute;
    z-index: 10;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    animation: 0.6s opacity;
    padding: 6px 15px;

    @media (max-width: 768px) {
      position: static;
      display: flex;
      background-color: $bg-color;
      box-shadow: none;
      animation: none;
      padding: 20px 15px 0 15px;
    }
  }

  &__submenu-link {
    font-size: 12px;
    line-height: 14px;
  }

  &__submenu-link:hover {
    color: $primary-purple;
  }

  &__button {
    color: $primary-purple;
    border: 1px solid $primary-purple;
    border-radius: 23px;
    transition: color 0.2s ease, background-color 0.2s ease;
    outline: 1px solid transparent;
    outline-offset: 4px;
    padding: 12px 24px;
  }

  &__button:hover {
    color: $white-color;
    background-color: $primary-purple;

    @media (max-width: 768px) {
      color: $primary-purple;
      background-color: transparent;
    }
  }

  &__button:focus-visible {
    outline-color: $primary-purple;
  }
}

.active {
  @media (max-width: 768px) {
    display: block;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
