.reviews {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='731' viewBox='0 0 1440 731' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.47' d='M0 730.5L1439.52 591.458L1440 0L0 176.472V730.5Z' fill='url(%23paint0_linear_5_21)' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_5_21' x1='629.279' y1='178.333' x2='651.256' y2='733.223' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F9F0FF' /%3E%3Cstop offset='1' stop-color='%23E2F1FF' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 220px 0 220px;

  @media (max-width: 1024px) {
    padding: 150px 0 130px;
  }

  @media (max-width: 768px) {
    padding: 110px 0 90px;
  }

  @media (max-width: 768px) {
    padding: 90px 0 70px;
  }

  &__tabs-content {
    margin-bottom: 32px;
  }

  &__tabs-item {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    animation: opacity 0.5s;
  }

  &__tabs-item.active {
    display: flex;
  }

  &__tabs-text {
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: $title-color;

    @media (max-width: 1024px) {
      font-size: 22px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__tabs-avatar {
    border-radius: 50%;
  }

  &__tabs-user {
    max-width: 135px;
    text-align: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #dec9fa;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    @media (max-width: 480px) {
      justify-content: space-evenly;
    }
  }

  &__btn {
    filter: grayscale(1);
    transition: filter 0.2s ease-out, transform 0.2s ease-out;
  }

  &__btn.active {
    cursor: default;
  }

  &__btn:hover,
  &__btn.active {
    filter: grayscale(0);
    transform: scale(1.1);
  }

  &__btn-icon {
    width: 100px;

    @media (max-width: 768px) {
      width: 70px;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
