$default-font: 'Metropolis', sans-serif;
$container-width: 960px;
$container-padding: 30px;
$primary-purple: #722ed1;
$white-color: #fff;
$bg-color: #f9f0ff;
$title-color: #160637;
$text-color: #8989a2;
